.table-container{
    background:#50C878;
    padding: 50px 100px;
    

    
}


.table{
    border-radius: 25px !important;
    margin-top: 30px;
    width: 70%;
    padding: 130px;
    // background-color;
}

.table-body{
// background: black;
display: flex;
flex-direction: column;
align-items: center;
}